<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercício de MVC</title>
</head>
<body>
<h1>Hello MVC!!!</h1>
<hr>
<p>Um metodo de um controller está ligado aqui...</p>
<hr>
<h2>Exercício:</h2>
<p>Seguindo os exemplos vistos em aula, seu objetivo nesta tarefa é construir um projeto MVC usando o framework Spring</p>
<p>Seu projeto deverá conter pelo menos dois controllers:</p>
<p>Um que retorne views em HTML (@Controller)</p>
<p>Um que retorne dados em JSON (@RestController)</p>
<p>A estrutura da classe "modelo" é de sua livre escolha.</p>
</body>
</html>